.images__1, .images__2, .images__3{
    width: 100%;
}
.images__1{
    margin-bottom: 10px;
    border-top-left-radius: 10px;
}
.images__1, .images__2{
    height: 195px;
}
.images__3{
    height: 400px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.images__2{
    border-bottom-left-radius: 10px;
}